body{
    background-color: black;
    background-image: url(../img/tint.jpg);
    color: white;
    text-transform: capitalize;
}
/*72px*/
.main-header{
    height: 72px;
    background-color: black;

}
a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 16px;
    font-family: "PT sans", sans-serif;
}
.main-navigation{

}

.container{

}
.index-logo{
    margin: 0 auto;
}